*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.nvEtudiant{ 	
	width: 60%;
	margin: auto;
	margin-top: 20px;
}
.login{
	width: 40%;
	margin: auto;
	margin-top: 40px;
}

.supp{
	font-size: 2em;
	color:red;
}

.update{
	font-size: 2em;
	color:orange;
}

